<html>
  <head>
    <title>Ethereum Over Pollenium</title>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-150071469-2"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      //
      // gtag('config', 'UA-150071469-2');
    </script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0,user-scalable=0"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.css" integrity="sha256-Nfu23DiRqsrx/6B6vsI0T9vEVKq1M6KgO8+TV363g3s=" crossorigin="anonymous" />
    <link rel="stylesheet" href="./index.css" />
  </head>
  <body ng-app="app">
    <div class="jumbotron">
      <div class="container">
        <h1 class="display-4">Ethereum over Pollenium</h1>
        <p class="lead"><a href="https://pollenium.network">Pollenium</a> is bringing Ethereum's gossip network back where it belongs, to users. Your browser is now helping to decentralize the Ethereum network. Thanks!</p>
        <p>If you're an Ethereum wallet developer or miner, reach out to us to learn how you can join the network.</p>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-4">
          <div ng-controller="Client">
            <h5>Client Info</h5>
            <hr>
            <h6>Nonce</h6>
            <div class="ellipsis">
              0x{{clientNonceHex}}
            </div>
          </div>
          <br/>
          <div ng-controller="SignalingServers">
            <h5>Signaling Servers</h5>
            <hr>
            <div class="item ellipsis" ng-repeat="signalingClientComponent in signalingClientComponents">
              <span
                class="dot"
                ng-class="signalingClientComponent.getBgClass()">
              </span>
              {{signalingClientComponent.url}}
            </div>
          </div>
          <br/>
          <div ng-controller="Friendships">
            <h5>Friendships ({{friendshipComponents.length}}/6)</h5>
            <hr>
            <div class="item" ng-repeat="friendshipComponent in friendshipComponents">
              <span
                class="dot"
                ng-class="friendshipComponent.getBgClass()"
                >
              </span>
              {{friendshipComponent.ipString}}
              <br/>
              <small class="muted ellipsis">0x{{friendshipComponent.friendship.peerClientNonce.getHex()}}</small>
            </div>
          </div>
        </div>
        <div class="col" ng-controller="Transactions"><div class="ng-cloak">
          <div class="alert alert-info" ng-show="!isConnected">
            <div class="spinner-grow spinner-grow-sm text-info" role="status"></div>
            Connecting to peers. This may take a minute.
          </div>
          <div ng-show="isConnected">
            <div class="alert alert-info" ng-show="transactionComponents.length === 0">
              <div class="spinner-grow spinner-grow-sm text-info" role="status"></div>
              Listening for Ethereum transactions. This may take a minute.
            </div>
            <div ng-show="transactionComponents.length > 0">
              <div class="alert alert-success">
                So far you've relayed {{transactionComponents.length - $index}} Ethereum transactions.
              </div>
              <h5>Transactions</h5>
              <hr>
              <div class="transactions">
                <div class="transaction card" ng-repeat="transactionComponent in transactionComponents | reverse">
                  <div class="card-body">
                    <h5 class="card-title">Transaction {{transactionComponents.length - $index}}</h5>
                    <table class="table transaction-table">
                      <tr>
                        <td>Hash</td>
                        <td><a ng-href="{{transactionComponent.linkUrl}}"><code>{{transactionComponent.transactionHash | hex}}</a></code></td>
                      </tr>
                      <tr>
                        <td>From</td>
                        <td><code>{{transactionComponent.transaction.from | hex}}</code></td>
                      </tr>
                      <tr>
                        <td>To</td>
                        <td><code>{{transactionComponent.transaction.to | hex}}</code></td>
                      </tr>
                      <tr>
                        <td>Value</td>
                        <td><code>{{transactionComponent.transaction.value | number}}</code> Wei</td>
                      </tr>
                      <tr>
                        <td>Nonce</td>
                        <td><code>{{transactionComponent.transaction.nonce | number}}</code></td>
                      </tr>
                      <tr>
                        <td>Data</td>
                        <td><pre>{{transactionComponent.transaction.data | hex}}</pre></td>
                      </tr>
                      <tr>
                        <td>Gas</td>
                        <td><code>{{transactionComponent.transaction.gas | number}}</code></td>
                      </tr>
                      <tr>
                        <td>Gas Price</td>
                        <td><pre>{{transactionComponent.transaction.gasPrice | number}}</pre></td>
                      </tr>
                      <tr>
                        <td>R</td>
                        <td><pre>{{transactionComponent.transaction.r | hex}}</pre></td>
                      </tr>
                      <tr>
                        <td>S</td>
                        <td><pre>{{transactionComponent.transaction.s | hex}}</pre></td>
                      </tr>
                      <tr>
                        <td>V</td>
                        <td><pre>{{transactionComponent.transaction.v | hex}}</pre></td>
                      </tr>

                      <tr>
                        <td>Serialized</td>
                        <td><pre>{{transactionComponent.transactionSerialized | hex}}</pre></td>
                      </tr>
                    </table>
                    <small class="text-muted">
                      <span>
                        Received {{transactionComponent.receivedAt | timeAgo}}
                      </span>
                    </small>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div></div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.bundle.js" integrity="sha256-pVreZ67fRaATygHF6T+gQtF1NI700W9kzeAivu6au9U=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.8/angular.min.js" integrity="sha256-23hi0Ag650tclABdGCdMNSjxvikytyQ44vYGo9HyOrU=" crossorigin="anonymous"></script>
    <script src="./lib/pollenium-anemone/index.js"></script>
    <script src="./lib/ethereumjs-tx/index.js"></script>
    <script src="./bower_components/angular-timeago/dist/angular-timeago.js"></script>
    <script src="./index.js"></script>
  </body>
</html>
